@import url('https://fonts.cdnfonts.com/css/qlassy');
@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Dancing+Script:wght@400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 8px;
    font-family: "Poppins", sans-serif;
}

/* ---------loading----------- */

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4c7766;
    color: #ebe6e0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Qlassy', sans-serif;
    font-size: 2em;
    z-index: 1000;
    transition: opacity 0.5s ease-out;
}

#loading-screen.hidden {
    opacity: 0;
    visibility: hidden;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 2.5s forwards ease-in;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.loading-text {
    font-weight: bold;
}

.loading-text::after {
    content: '...';
    animation: dots 1.5s steps(3, end) infinite;
}

@keyframes dots {
    0%, 20% {
        content: '';
    }
    40% {
        content: '.';
    }
    60% {
        content: '..';
    }
    80%, 100% {
        content: '...';
    }
}

/* ---------loading----------- */

.navContainer {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    border-radius: 1.5em;
    background-color: #ebe6e0;
    position: relative; /* Needed for absolute positioning of the nav menu */
    align-items: center;
    justify-content: center;

}

.navItem {
    color: #4c7766;
    font-size: medium;
    transition: color 0.3s ease-in-out;
    cursor: pointer;
}

.navItem a {
    text-decoration: none;
    color: #4c7766;
}

.nav1 {
    flex: 4;
    color: #000;
    font-family: 'Qlassy', sans-serif;
    font-size: 1.7em;
    transition: color 0.3s ease-in-out;
    /* padding-left: 20px; */


}

.nav2 {
    display: flex; /* Align nav items in a row */
    justify-content: space-around; /* Even spacing between items */
    align-items: center; /* Center align items vertically */
}

.hamburger {
    display: none; /* Initially hidden */
    color: #4c7766;
    cursor: pointer; /* Add cursor pointer for hover effect */
}

.nav-active {
    display: none; /* Initially hidden */
    flex-direction: column; /* Stack items vertically */
    position: absolute; /* Position relative to navContainer */
    top: 80px; /* Adjust based on your layout */
    right: 0;
    background-color: #ebe6e0; /* Match the background */
    width: 100%; /* Ensure it occupies full width */
    border-radius: 1.5em; /* Rounded bottom corners */
    z-index: 10; /* Stack above other elements */
}

.navItem {
    padding: 10px 20px; /* Add padding to menu items */
    text-align: center; /* Center align text */
}

.navItem a {
    color: #4c7766; /* Link color */
    text-decoration: none; /* Remove underline */
    font-size: 16px; /* Adjust font size */
}

.navItem:hover {
    transform: scale(1.1);
}

/* ----------------------------------------------- */
.main {
    display: flex;
    padding: 10px;
    gap: 1em;
    height: 83vh;
    justify-content: center;
    align-items: center;
    transition: margin-top 0.3s; /* Smooth transition for margin changes */
}

.AboutContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1em;
    padding: 1em;
    border-radius: 2em;
    background-color: #ebe6e0;
    color: #4c7766;
}

.grid-item {
    background-color: #4c7766;
    color: #ebe6e0;
    border-radius: 1em;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.imgContainer {
    background-color: #ebe6e0;
    color: #4c7766;
    border-radius: 50%;
    padding: 20px;
}

.imgContainer img {
    border-radius: 50%;
    width: 100%;
    object-fit: cover;
}

.detailsContainer h2, .edu h3, .skills h3, .interests h3 {
    margin: 0;
    font-family: 'Qlassy', sans-serif;
}

.detailsContainer p, .edu p, .skills ul, .interests p {
    margin-top: 10px;
}

.skills ul {
    list-style: none;
    padding: 0;
}

.skills li {
    margin: 5px 0;
}

@media screen and (max-width: 768px) {
    .AboutContainer {
        grid-template-columns: 1fr;
    }
}


/* ------------------ */
/* Media Queries */
@media screen and (max-width: 768px) {
    .nav2 {
        display: none; /* Hide menu on mobile by default */
    }

    .hamburger {
        display: block; /* Show hamburger icon on mobile */
    }

    .nav-active {
        display: flex; /* Show menu when active */
    }

    .main.shifted {
        margin-top: 140px;
    }

    .main {
        flex-direction: column;
        align-items: center;
        height: auto;
        transition: margin-top 0.3s ease; /* Smooth transition */
    }

}